
<div class="bg">
    <div class="parent">
     <div class="child">
      <div nz-row class="imgDiv">
        <div nz-col nzSpan="24">
          <h1 style="margin-left: 100px;">Login</h1>
        </div>
      </div>
          <form nz-form [formGroup]= "validateForm" (ngSubmit)= "submitForm()">
            <nz-form-item>
              <nz-form-control nzErrorTip="Please input your username!">
                <nz-input-group nzPrefixIcon="user">
                  <input formControlName="userName" nz-input placeholder="Username" />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control nzErrorTip="Please input your Password!">
                <nz-input-group nzPrefixIcon="lock">
                  <input formControlName="password" nz-input type="password" placeholder="Password" />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control>
                <button nz-button class="login-form-button login-form-margin" nzType="primary" [disabled]= "!validateForm.valid">Log in</button>
                or
            <a routerlink="/register">Register now !</a>
              </nz-form-control>
            </nz-form-item>
          </form>
      </div>
  </div>
</div>